.omsorg {

  > * {
    margin-bottom: 1rem;
  }

  .varselstripe div {
    max-width: 100%;
  }

  .harOmsorgen {
    display: flex;

    legend {
      font-weight: bold;
    }

    .radioknapp:first-of-type {
      margin-right: 1rem;
    }
  }
}