@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.omsorg {

  > * {
    margin-bottom: 1rem;
  }

  .varselstripe div {
    max-width: 100%;
  }

  .harOmsorgen {
    display: flex;

    legend {
      font-weight: bold;
    }

    .radioknapp:first-of-type {
      margin-right: 1rem;
    }
  }

  hr {
    border-color: @navGra20;
    border-style: solid;
    border-width: 1px 0 0 0;
  }
}