@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.korrigerePerioder {

  > * {
    margin-bottom: 1rem;
  }

  .varselstripe div {
    max-width: 100%;
  }

  input[type="radio"] + label::before {
    box-sizing: border-box;
  }
}