@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.korrigerePerioder {
  margin-bottom: 1rem;
  width: max-content;

  > * {
    margin-bottom: 1rem;
  }

  input[type="radio"] + label::before {
    box-sizing: border-box;
  }
  legend {
    margin-bottom: 0.5rem !important;
  }
}

.korrigerePerioderAlertStripe {
  max-width: 70rem;
}

.knapp {
  margin-top: 1rem;
}

.antallDagerDelvisInnvilgetContainer {
  margin-top: 0.5rem;
}