.statusPanel {
    border-radius: 10px;
    display: flex;
    min-height: 48px;

    &__border {
        width: 9px;
        border: 1px solid #3e3832;
        border-radius: 10px;

        &--success {
            background: #9bd0b0;
        }

        &--alert {
            background: #d6897d;
        }
    }
    &__infoContainer {
        display: flex;
        margin-left: 1rem;

        &__info {
            margin-left: 1rem;
        }
    }
}
