@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.lesemodusboks {
  background-color: @navLysGra;
  border-radius: @border-radius-base;
  margin-bottom: 1rem;
  padding: 1rem;
}

.label {
  font-weight: bold;
}

.fritekst {
  border-left: 5px solid @navGra20;
  padding: 5px;
}