.opplysningerFraSoknad {
  border-bottom: 1px solid #B7B1A9;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1.3rem;
  margin-top: 1.5rem;
  padding-bottom: 1.3rem;

  h4 {
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0;
  }
}
