@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.vilkarKroniskSyktBarn {

  > * {
    margin-bottom: 1rem;
  }

  input[type="radio"] + label::before {
    box-sizing: border-box;
  }

  legend {
    margin-bottom: 0.5rem !important;
  }
}