@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.vilkarKroniskSyktBarn {

  input[type="radio"] + label::before {
    box-sizing: border-box;
  }

  legend {
    margin-bottom: 0.5rem !important;
  }
}

.form > * {
  margin-bottom: 1rem;
}

.form{
  margin-top: 1rem;
}

.feilmelding{
  margin: 0px;
}
