@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.bekreftKnapp {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.radioButtons {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;

  div {
    margin-right: 1rem;
  }
}

.vilkarMidlerTidigAlene label, legend {
  font-weight: normal !important;
}

.gyldigVedtaksPeriode {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;

  div {
    margin-right: 1rem;
  }
}

.gyldigVedtaksPeriodeOverskrift {
  margin-bottom: 1rem;
  width: 100%;
}

.gyldigVedtaksPeriodeTilFra {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}