@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.bekreftKnapp {
  text-transform: none;
  width: 12rem;
}

.vilkarMidlerTidigAleneContainer {
  display: flex;
  flex-direction: column;

  label, legend {
    font-weight: normal !important;
  }

  > * {
    margin-bottom: 1rem;
  }
}

.vilkarAleneOmsorgRadioButtons {
  display: flex;
  flex-direction: row;

  div {
    margin-right: 1rem;
  }
}

.gyldigVedtaksPeriodeContainer {
  display: flex;
  flex-wrap: wrap;

  div {
    margin-right: 1rem;
  }
}

.gyldigVedtaksPeriodeOverskrift{
  margin-bottom: 1rem;
  width: 100%;
}

.gyldigVedtaksPeriodeTilFra {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}