.vilkarMidlerTidigAleneContainer {
  display: flex;
  flex-direction: column;
}


.vilkarAleneOmsorgRadioButtons {
  display: flex;
  flex-direction: row;

  div {
    margin-right: 1rem;
  }
}

.gyldigVedtaksPeriodeContainer {
  display: flex;
  flex-direction: row;

  div {
    margin-right: 1rem;
  }
}

.datoVelger {
  display: flex;
  flex-direction: column;
}